<template name="aboutPage">
  <div class="post">
    <div class="post-content">
      <p>Thomas Berry is a web developer based out of the Toronto. He attended Bitmaker Labs in 2013 and works as a developer at Encore labs. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, laborum incidunt commodi animi dolor nam velit culpa alias vel soluta voluptatibus mollitia? Adipisci, aut quod repudiandae consectetur corrupti tempore doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, deleniti, unde, nemo aut dolor consequatur tenetur beatae pariatur minima ut facere quaerat consequuntur voluptates blanditiis perferendis ea ratione voluptatibus eius.</p>
      <br>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, perspiciatis, quidem, commodi ipsam debitis qui inventore minima ea deserunt laborum corporis dolor aperiam ullam nostrum distinctio laboriosam amet pariatur deleniti!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, animi, quibusdam rem itaque perspiciatis alias autem nulla provident suscipit at obcaecati sit et aut esse recusandae expedita iusto asperiores ipsum.</p>
    </div>
  </div>
</template>
